<h3>Our Mission</h3>
<p>The motivation behind the fair is to not only celebrate an important date but also to generate funds for 
community projects with special focus on the development of Indian Community Centre (India House). 
We wish to take this project earnestly and start the process by donating the entire amount saved after
expenses from the INDAUS Fair.</p>

<h4>You can read more about it <a href="http://yadusingh.wordpress.com/2013/05/04/india-house-in-sydney-what-is-this-about-why-do-we-need-it/">here</a></h4>

