<h1>Administrator Controls</h1>
<hr>
<h3>All Users</h3>
<!--<div class="span11">
  <%= render 'users/list_users' %>
</div>

<hr>
<h3 class="float_clear">Library of tutorials</h3>
<div class="span11">
  <%= render 'tutorials/list_tutorials' %>
</div>

<hr>
<h3 class="float_clear">All Teams</h3>
<div class="span11">
  <%= render 'teams/list_teams' %>
</div>-->
