<h1>Gallery#index</h1>
<p>Find me in app/views/gallery/index.html.erb</p>

<div id="myCarousel" class="carousel slide">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>-->
    <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="active item"><%= image_tag "indaus5.jpg" %>
               <!-- <div class="carousel-caption">
                      <h4>Second Thumbnail label</h4>
                      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                </div>-->
            </div>
            <div class="item"><%= image_tag "indaus7.jpg" %></div>
            <div class="item"><%= image_tag "indaus19.jpg" %></div>
        </div>
    <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
