/* ----- Navbar ----- */


.navbar-inverse .navbar-inner {
  background-color: #DC8700;
 
  background-image: none;
  background-repeat: repeat-x;
  border-color: #15a589;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff18bc9c', endColorstr='#ff18bc9c', GradientType=0);
}

body {
  margin: 0;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 21px;
  color: #2c3e50;
  background-color: #FFFFBE;
}