<br>
<hr>
<br>
<hr>



 		<div class="footer-border">
              <div class="row">
                <div class="span6">
                  	<p "align"> &copy; 2013 - INDAUS Inc. &nbsp;
						<a href="/privacy">Privacy</a> &nbsp;
						<a href="/enquiries/new">Contact</a> &nbsp;
						<a href="https://www.facebook.com/INDAUS.NSW" target="_blank">
							<i class="icon-facebook"></i> Facebook </a> &nbsp;
					</p>
				</div>
              </div>
        </div>
     
<!--<div class="footer">
	<hr>
	<div class="pull-left"><p>&copy; INDAUS ASSOC. 2013</p></div>     
	<div class="pull-right"><%= link_to 'Contact Us', contact_path %> &middot; <%= link_to 'Privacy', privacy_path %> &middot; <%= link_to 'About Us', about_path %> &middot; </div>
	<br>
</div>-->
