 		<!--<div class="footer-border">
            <div class="row">
                <div class="span6">
                	<div class="pull-left">
                  		<p "align"> &copy; 2013 - INDAUS Inc. &nbsp;
                  	</div>
                  	<div class="pull-right">
							<a href="/privacy">Privacy</a> &nbsp;
							<a href="/enquiries/new">Contact</a> &nbsp;
							<a href="https://www.facebook.com/INDAUS.NSW" target="_blank">
								<i class="icon-facebook"></i> Facebook </a> &nbsp;
					</div>
						</p>
				</div>
            </div>
        </div>-->
     
<!--<div class="footer">
	<hr>
	<div class="pull-left"><p>&copy; INDAUS ASSOC. 2013</p>
	</div> 
	
	
	<div class="pull-right">

		<a href="https://www.facebook.com/INDAUS.NSW" target="_blank"><i class="icon-facebook"></i>Facebook</a> &nbsp; |<%= link_to 'Contact', contact_path %> | <%= link_to 'Privacy', privacy_path %>  
	</div>
	<br>
</div>-->


<p class="pull-right"><a href="#">Back to top</a></p>
        <p><span class="INDAUS">&copy; 2013 INDAUS INC. &middot; </span>
          <a href="/privacy">Privacy</a> <span class="INDAUs">&middot;</span>
          <a href="/enquiries/new">Contact</a> <span class="INDAUS">&middot; </span>
          <a href="https://twitter.com/" target="_blank"><i class="icon-twitter"></i></a> <span class="INDAUS">&middot; </span>
          <a href="https://www.facebook.com/INDAUS.NSW" target="_blank"><i class="icon-facebook"></i></a> <span class="INDAUS">&middot; </span>